
@{
    ViewData["Title"] = "Master Page";
}

<h1>Index</h1>

<div>
    <div class="card container" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Company", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Employee Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Employee", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Role Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Role", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Menu", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Employee Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("MenuAccess", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Role Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("User", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Unit", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Employee Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Souvenir", "Go")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Role Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Product", "Go")
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>