
@{
    ViewData["Title"] = "Master Page";
}

<h1>Index</h1>

<div>
    <div class="card container" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Company")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Employee Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Employee")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Role Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Role")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Menu")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Employee Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "MenuAccess")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Role Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "User")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Company Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Unit")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Employee Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Souvenir")
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Role Setting</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @Html.ActionLink("Go", "Product")
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>